
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
  background-color: #ecd3e4;
}

.h2 {
  text-align: center;
}

.name-container {
  padding: 10px;
  margin: 10px
}

input{
  margin-left: 10px;
  padding: 7px;
  border-radius: 5px;
  border: 1px solid purple;
}

button {
  padding: 10px;
  background-color: #814968;
  border: none;
  border-radius: 4px;
}


.card {
  background: rgb(100, 35, 126);
  padding: 15px;
  margin: 8px;
  border-radius: 7px;

}

.dashboard {
  display: grid;
  grid-template-columns: repeat(minmax(200px, 1fr));
  gap: 10px;
  padding: 10px;
}

.states_list{
  color: white;
  font-size: 16px;
  margin-bottom: 6px;
}